@{
    ViewBag.Title = "Полезные ссылки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h5>Полезные ресурсы</h5>
        <ul>
            <li><a class="btn btn-link" href="http://github.com">github.com</a></li>
            <li><a class="btn btn-link" href="http://www.asp.net/mvc">asp.net/mvc</a></li>
            <li><a class="btn btn-link" href="http://getbootstrap.com">getbootstrap.com</a></li>
            <li><a class="btn btn-link" href="https://developer.mozilla.org">developer.mozilla.org</a></li>
            <li><a class="btn btn-link" href="http://jquery.com">jquery.com</a></li>
            <li><a class="btn btn-link" href="http://underscorejs.org">underscorejs.org</a></li>
            <li><a class="btn btn-link" href="http://backbonejs.org">backbonejs.org</a></li>
            <li><a class="btn btn-link" href="http://nuget.org">nuget.org</a></li>
            <li><a class="btn btn-link" href="http://bootsnipp.com">bootsnipp.com</a></li>
            <li><a class="btn btn-link" href="http://placehold.it">placehold.it</a></li>
            <li><a class="btn btn-link" href="http://www.generatedata.com">generatedata.com</a></li>
        </ul>
    </div>
</div>
