@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello my name is &laquo;Help&raquo;. I live in &laquo;Home&raquo; controller.</h2>
<span>My url is: <b>@Request.Url.ToString()</b></span>
<br />
<br />
