@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
            <a class="btn btn-primary btn-lg btn-block" href="@Url.Action("Help", "Home")">Полезные ссылки</a><br />
            <a class="btn btn-default btn-lg btn-block" href="@Url.Action("Index", "User")">Пользователи</a>
        </div>
    </div>
</div>
